<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1>About TRANSLATE.ME</h1>
					<p class="lead"> Use Translate.me for accurate, free translations</p>
					
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	<!-- +++++ Information Section +++++ -->
	
	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-3">
				<i class="fa fa-book fa-4x"></i>
				<p>Learn and teach about other languages and cultures</p>
			</div>
			
			<div class="col-lg-3">
				<i class="fa fa-user fa-4x"></i>
				<p>Be part of a community, be recognised as a language hero among your peers</p>
			</div>

			<div class="col-lg-3">
				<i class="fa fa-fire fa-4x"></i>
				<p>No more embarassing Machine Translations from Google and Microsoft</p>
			</div>

			<div class="col-lg-3">
				<i class="fa fa-globe fa-4x"></i>
				<p>The web brings us all together, let's share our language knowledge </p>
			</div>
		</div><!-- /row -->
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>THE THINKING BEHIND TRANSLATE.ME</h4>
				<p>Using crowdsourcing anyone can improve Machine Translations and provide valuable translation suggestions to others, quickly and efficiently! Why not give it a go? You might learn something as well!</p>
			</div><!-- /colg-lg-6 -->
			
			<div class="col-lg-6">
				<h4>Correct, free translations are truly possible</h4>
				Crowdsourced free community translations
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
						<span class="sr-only">90% Complete</span>
					</div>
				</div>

				Freelanced paid translations
				<div class="progress">
					<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
						<span class="sr-only">40% Complete</span>
					</div>
				</div>
				
				Pure Machine Translations
				<div class="progress">
					<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
						<span class="sr-only">20% Complete</span>
					</div>
				</div>

			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
