<h3> Posts under this group </h3>
<% Post.where(group_id: 5).each do |post| %>
<li><%= link_to post.title , post %> </li>
<% end %>


<h2> QUITE INTERESTING STUFF FROM THE WEB </h2>

  <div id="grey">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p>11 Steps to Frenchify Yourself</p>
					<p><bd><%= Time.now.strftime("%m/%d/%Y") %></bd></p>
					<p>How to Frenchify Yourself in 11 Steps: A Guide 
For serious Francophiles, learning the language is only part of the process. Real “frenchification” requires a different kind of fluency: understanding the French mindset.
un (one) While eating a delicious meal, talk about other appetizing meals you ate, could eat, will eat, should eat, want to eat, definitely have to eat.
deux (two) Make sure your sense of humor is strong and resilient. The French live for irony and tend to tease everyone. Don’t mistake a harmless joke for rudeness.
trois (three) Be ready to debate any point, even if you have no reason to. The sentence, “I have to disagree in some way” can pop into conversation at any time.
quatre (four) Learn to find the negative side of any good situation, because there is always a “but”.
cinq (five) Dress mostly in blue, grey, black or white: this limits the chance for embarrassing fashion faux pas. Fashion faux pas are not acceptable!
six (six) Food takes precedence over EVERYTHING, and good food should always be enjoyed with good wine.
sept (seven) Get over your romantic misconceptions of “the City of Lights”. Yes, Paris is for lovers – if you’re a tourist!
huit (eight)  Feel free to complain openly. It’s an acceptable form of self-expression.
neuf (nine)  Spend several hours sitting around a table with friends and family, and stay as long as food keeps coming.
dix (ten)  Don’t worry: you aren’t the only one making spelling mistakes! Even the French struggle with writing their own language. How many n’s or m’s in that word again? What’s the silly grammar rule I should use for this particular sentence?
onze (eleven) Have something to say? Take to the streets!</p>
					<p><a href="http://www.babbel.com/magazine/11-steps-to-frenchify-yourself"></a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /grey -->
	
	<!-- +++++ Second Post +++++ -->
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p>24 OF THE FUNNIEST ROMANIAN EXPRESSIONS</p>
					<p><bd><%= Time.now.strftime("%m/%d/%Y") %></bd></p>
					<p>
1. A Romanian is not “surprised”…his “face has fallen off” (I-a picat fața).
2. A Romanian didn’t just “do so much with so little” … he “made a whip out of shit” (Face din rahat bici).
3. A Romanian won’t “lose temper” … his “mustard will jump off” (Îi sare muștarul).
4. A Romanian hasn’t just “screwed up” … he “threw his boogers in the beans” (A dat cu mucii-n fasole).
5. A Romanian won’t “try to fool you” … he’ll “throw vapours at you” (Te aburește).
6. Nor will he “lie to you” … he’ll “sell you doughnuts” (Vinde gogoși).
7. A Romanian doesn’t “suddenly get it” … his “coin drops” (Îi pică fisa).
8. A Romanian is not “extremely tired” … he’s “cabbage.” His life is not “chaotic” … it’s “cabbage.” And his room is not “a complete mess” … it’s also “cabbage” (Varză).
9. A Romanian doesn’t simply deem an effort “useless” … he says it’s “a rub on a wooden leg” (Frecție la picior de lemn).
10. You don’t “drive a Romanian nuts” … you “take him out of his watermelons” (Îl scoți din pepeni).
11. A Romanian will not have “the impostor syndrome” … he will “feel with the fly on his cap” (Se simte cu musca pe căciulă).
12. In Romania, things are not “far away” … they’re “at the devil’s mother” (La mama naibii).
13. A Romanian is not “crazy” … he’s “gone on a raft” (Dus cu pluta).
14. A Romanian won’t tell you to stop “wasting time” … he’ll tell you to stop “rubbing the mint” (Freca menta).
15. A Romanian won’t say that something is “cool” … he’ll say it’s “concrete” (Beton).
16. A Romanian is not “nervous” … he “has a carrot (in his ass)” (Are un morcov în fund).
17. A Romanian doesn’t just “keep quiet” … he “keeps quiet like the pig in a corn field” (Tace ca porcu-n păpușoi).
18. As a Romanian you don’t “fool yourself” … you “get drunk with cold water” (Te îmbeți cu apă rece).
19. A Romanian is not “stupid” … he’s “a Venice bush” (Tufă de Veneția).
20. A Romanian won’t “call it quits” … he’ll “stick his feet in” (Își bagă picioarele).
21. A Romanian hasn’t been “scammed” … he “took a spike” (A luat țeapă).
22. A Romanian is not “a drunkard” … he’s “a blotting paper” (Sugativă).
23. A Romanian will not look at you “confused” … he will “stare like the crow at the bone” (Ca cioara la ciolan).
24. A Romanian doesn’t have “unusual ideas” … he has “a curly mind” (Minte creață). </p>
					<p><a href="http://matadornetwork.com/abroad/24-funniest-romanian-expressions/"></a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->
