#ww
	.container
		.row
			.col-lg-8.col-lg-offset-2.centered
				%h1 Welcome to Translate.me
				%p Hello everybody. Use Translate.me whenever you need to find out something in another language
				/ /col-lg-8
			/ /row
		/ /container
	/ /ww
	/ +++++ Projects Section +++++
	.container.pt
		.row.mt.centered
			.col-lg-4
				%p SERIOUS CORNER
			.col-lg-4
				%p RANDOM POSTS
			.col-lg-4
				%p FUN CENTER
		/ /row
		.row.mt.centered
			.col-lg-4
				%p WONDER WHY?
			.col-lg-4
				%p WTF?
			.col-lg-4
				%p QUITE INTERESTING
		/ /row
	/ /container
#footer
	%p			 Go Beyond Machine Translations, use Human Translations!
