#banner
	.banner_content
		%h1 Translate.me
		%p Your personal hunam powered translation service. Never have to rely on Machine Translation again.
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "Crowdsourced Online Translations"
		%p.name - Tamas Patkai
#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-heart-o
				%h2 Help out others!
				%p Contribute by helping out those who are stuck with a question

			.callout
				%i.fa.fa-lightbulb-o
				%h2 Learn
				%p We will help you grow your linguistic knowledge.

			.callout
				%i.fa.fa-bolt
				%h2 Goal
				%p Translate.me is for business and personal translations that need to be quick, with a quality that SMT simply cannot achieve
#bottom_cta
	.wrapper
		%h2 Get translating !
		%p Find accurate and quick user generated translations! 
		%button= link_to "Sign Up Now", new_user_registration_path

%footer
	%p &copy; Tamas Patkai
	
	
	