- @posts.each do |post|
 
  %h2= link_to post.title, post
  %p 
    =post.comments.count
    Comments
  %p 
    =post.get_likes.size
    Likes


  
  =link_to "Add new Translation task", new_post_path