/*
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "normalize.css.scss";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}


.btn-lg {
  margin-bottom: 25px;
}

.lead {
color:white;
}

.col-lg-offset-2 {
background-color: rgb(22, 160, 133);
border-radius: .9rem;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

.container-fluid {
  padding-top: 15px;
}

#footer > .container {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

code {
  font-size: 80%;
}


.divider {
  height: 40px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  padding-bottom: 90px;
  padding-top: 25px;
  overflow: hidden;
  background-color: white;
}

/********************************************

* Forms section

********************************************/
.form-inline {
	margin-top: 15px;
}
.form-input {
	width: 65% !important;
	float: left;
}
.form-button {
	float: left;
	width: 30% !important;
	margin-left: 5%;
}

.col-xs-4{
  height:178px;
  border: 1px dotted;
}

.col-md-6{
	position: relative;
  min-height: 1px;
  width: 80%;
  padding-right: 0px;
  padding-left: 0px;
}


	.post_data {
		width: 15%;
		float: left;
		.button {
			width: 100%;
			display: inline-block;
			padding: .75rem 0;
			margin-bottom: 1rem;
			text-align: center;
			text-decoration: none;
			color: #969696;
			&:hover {
				color: #50A7C7;
				border: 1px solid #50A7C7;
			}
		}
		.data {
			width: 100%;
			display: block;
			padding: .75rem 0;
			border-bottom: 1px solid #E9E9E9;
			text-decoration: none;
			color: #969696;
			margin: 0;
		}
	}
	
	/********************************************

* Stanley Bootstrap Theme

********************************************/
.comment {

line-height: 12px;
}


body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
	font-size: 35px;
	margin-top: 50px;
	margin-bottom: 30px;
}



/* Paragraph & Typographic */
p {
    line-height: 11px;
    margin-bottom: 10px;
    font-size: 12px;
}


.centered {
    text-align: center;
}

/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
	
}

.navbar-inverse {
	padding-bottom: 10px;
	padding-top: 20px;
}

.navbar-inverse {
	background-color: #110022;
	border-color: #16a085;
  border-bottom-color: #16a085;
  border-bottom-width: thick;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #1abc9c;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
  background-color: #1abc9c;
}


/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;
}


/* +++++ WRAP SECTIONS +++++ */

#ww {
	margin-top: 45px;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #f2f2f2;
}


#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px; 
	text-align:center;
	margin-top: 45px;
	border-radius: 0.9rem;
}

#footer p {
	color: white;
	text-align: center;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 10px;
}


/* +++++ Color Wraps / Blog Page +++++ */

#grey {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

#white {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ffffff;
}



/* Blog Date*/
bd {
	font-size: 12px;
	text-transform: uppercase;
	color: #d2d2d2;
	font-weight: 700;
}

/* Blog Author*/
ba {
	font-size: 12px;
	text-transform: uppercase;
}

/* Blog Quote */
.bq {
	font-size: 22px;
	padding-top: 30px;
}

/* Blog Tags */
bt {
	font-size: 12px;
}



/* random_post*/
	#random_post {
		width: 30%;
		margin-left: 15px;
		margin-top: -3.2rem;
		float: right;
		h3 {
			font-size: 1rem;
		}
		.post {
			background: #F8F9FA;
			border: 1px solid #E4E4E4;
			border-radius: 0.3rem;
			.post_image {
				height: 200px;
				overflow: hidden;
				img {
					width: 100%;
					border-radius: .3rem .3rem 0 0;
				}
			}
			.post_content {
				h2 {
					margin: 0;
					font-weight: 100;
					padding: 1rem 5%;
					border-bottom: 1px solid #E4E4E4;
					font-size: 1.25rem;
					a {
						text-decoration: none;
						color: #333233;
						&:hover {
							color: #50A7C7;
						}
					}
				}
				.data {
					padding: .75rem 5%;
					color: #969696;
					.username, .buttons {
						margin: 0;
						font-size: .8rem;
					}
					.username {
						float: left;
						line-height: 12px;
					}
					.buttons {
						float: right;
						span {
							margin-left: .5rem;
						}
					}
				}
			}
		}
	}
	
	#comments {
		width: 70%;
		padding-bottom: 50px;
		padding-right: 25px;
		margin-top: -15rem;
		.post {
			background: #F8F9FA;
			border: 1px solid #E4E4E4;
			border-radius: 0.3rem;
			.post_content {
				h2 {
					margin: 0;
					font-weight: 100;
					padding: 1rem 5%;
					border-bottom: 1px solid #E4E4E4;
					font-size: 1.25rem;
					a {
						text-decoration: none;
						color: #333233;
						&:hover {
							color: #50A7C7;
						}
					}
				}
				.data {
					padding: .75rem 5%;
					color: #969696;
					.username, .buttons {
						margin: 0;
						font-size: .8rem;
					}
					.username {
						float: left;
						font-size: .8rem;
						line-height: 12px;
					}
					.buttons {
						float: right;
						span {
							margin-left: .5rem;
						}
					}
				}
			}
		}
	}
	
#notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(135, 216, 211, 0.85);
    .alert, .notice {
        padding: 2.5rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.25rem;
        font-weight: 700;
        color: #FFFFFF;
        letter-spacing: 1px;
    }
}


.tags{
  margin-top: -50px;
  padding: 2px;
  float: right;
}